title-xs {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
}
title-sm {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
title-md {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
title-xl {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}

text-md {
  font-size: 1.5rem;
  color: $color-third;
  font-weight: lighter;
}

t-uppercase {
  text-transform: uppercase;
}

t-bold {
  font-weight: bold;
}
