//Colors
$black: black;
$white: white;
$gray: gray;
$color-first: $black;
$color-second: $white;
$color-third: $gray;

//Breakpoints
$wide-screen: 1920px;

//spaces
$space-xs: 1%;
$space-sm: 2%;

//border-radius
$border-radius-xs: 2%;
